<launch>
  <arg name="robot_name" default="catvehicle"/>

  <arg name="scan_topic" default="/$(arg robot_name)/front_laser_points" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>
    <param name="odom_frame" value="$(arg robot_name)/odom"/>
    <param name="base_frame" value="$(arg robot_name)/base_link"/>
    <param name="map_frame" value="map"/>

    <!-- Process 1 out of every this many scans (set it to a higher number to skip more scans)  -->
    <param name="throttle_scans" value="1"/>

    <param name="map_update_interval" value="2.0"/> <!-- default: 5.0 -->

    <!-- The maximum usable range of the laser. A beam is cropped to this value.  -->
    <param name="maxUrange" value="80.0"/>

    <!-- The maximum range of the sensor. If regions with no obstacles within the range of the sensor should appear as free space in the map, set maxUrange < maximum range of the real sensor <= maxRange -->
    <param name="maxRange" value="80.0"/>

    <param name="linearUpdate" value="0.1"/> 
    <param name="angularUpdate" value="0.1"/> 
    <param name="temporalUpdate" value="0.5"/> 

<!-- Initial map size  -->
    <param name="xmin" value="0.0"/>
    <param name="ymin" value="0.0"/>
    <param name="xmax" value="60.0"/>
    <param name="ymax" value="25.0"/>

  </node>
</launch>